@model IEnumerable<TestProject.Models.Students>
@{
    ViewData["Title"] = "github.com/Herbert-sv";
}


<h2 class="text-primary">Students List</h2>
<br />
@Html.ActionLink("Create", "Create", "Home") <p class="glyphicon glyphicon-user"></p>
@*<div class="table-responsive">*@
    <table cellpadding="2" class="table">
        <tr class="text-primary">
            <th>Student Id</th>
            <th>Student FirstName</th>
            <th>Student LastName</th>
            <th>Student Career</th>
            <th>Student Institution</th>
            <th>Yearly Cost</th>
            @*<th class="glyphicon glyphicon-cog"></th>
                <th class="text-primary">Settings</th>*@
        </tr>
        @foreach (var modelinfo in Model)
        {
        <tr>
            <td>@modelinfo.StudentId</td>
            <td>@modelinfo.FirstName</td>
            <td>@modelinfo.LastName</td>
            <td>@modelinfo.Career</td>
            <td>@modelinfo.Institution</td>
            <td>@modelinfo.YearlyCost</td>
            <td><a asp-action="Delete" asp-controller="Home" asp-route-id="@modelinfo.StudentId" class="glyphicon glyphicon-trash">Remove</a></td>
            <td><a asp-action="Update" asp-controller="Home" asp-route-id="@modelinfo.StudentId" class="glyphicon glyphicon-pencil">Update</a></td>
            <td><a asp-action="Display" asp-controller="Home" asp-route-id="@modelinfo.StudentId" class="glyphicon glyphicon-user">Display</a></td>
            <td><a asp-action="Display" asp-controller="Home" asp-route-id="@modelinfo.StudentId" class="glyphicon glyphicon-user">Display</a></td>

        </tr>


        }
    </table>




<div class="container-fluid">
    <h3 class="well">GitHub </h3>
    <p>
        GitHub, Inc. is a United States-based global
        company that provides hosting for software development version control using Git.
        It is a subsidiary of Microsoft, which acquired the company in 2018 for US$7.5 billion.[3]
        It offers the distributed version control and source code management (SCM) functionality of Git, plus its own features.
    </p>
</div>


